In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

import wrangle as w
import model as m

from importlib import reload

In [4]:
df = w.get_explore_data()

In [5]:
df = w.get_contest_data(df)

In [6]:
df.head()

,region,elevation,lat,lon,startdate,potential_evap,precip,barometric_pressure,all_atmos_precip,relative_humidity,...,height_500_mb,height_850_mb,zonal_wind_250mb,zonal_wind_925mb,long_wind_250mb,long_wind_925mb,elevation_range,region_bins,month,season
0,BSh,200.0,0.0,0.833333,2014-09-01,237.00,94.31,98644.97,42.45,81.72,...,5899.66,1535.52,-2.56,-5.22,-3.52,4.41,bottom_low,Dry,9,Autumn
1,BSh,200.0,0.0,0.833333,2014-09-02,228.90,100.85,98686.80,42.66,82.56,...,5901.03,1538.00,-2.39,-5.20,-4.49,3.74,bottom_low,Dry,9,Autumn
2,BSh,200.0,0.0,0.833333,2014-09-03,220.69,101.25,98712.85,43.23,83.29,...,5902.18,1540.32,-2.76,-5.00,-5.44,3.40,bottom_low,Dry,9,Autumn
3,BSh,200.0,0.0,0.833333,2014-09-04,225.28,101.90,98711.70,43.11,83.26,...,5903.07,1541.10,-3.00,-4.61,-5.76,3.29,bottom_low,Dry,9,Autumn
4,BSh,200.0,0.0,0.833333,2014-09-05,237.24,82.95,98686.46,42.98,82.50,...,5903.36,1539.73,-3.40,-4.25,-6.09,3.27,bottom_low,Dry,9,Autumn

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375734 entries, 0 to 375733
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   region               375734 non-null  object
 1   elevation            375734 non-null  float64
 2   lat                  375734 non-null  float64
 3   lon                  375734 non-null  float64
 4   startdate            375734 non-null  datetime64[ns]
 5   potential_evap       375734 non-null  float64
 6   precip               375734 non-null  float64
 7   barometric_pressure  375734 non-null  float64
 8   all_atmos_precip     375734 non-null  float64
 9   relative_humidity    375734 non-null  float64
 10  sea_level_press      375734 non-null  float64
 11  mean_temp            375734 non-null  float64
 12  height_10_mb         375734 non-null  float64
 13  height_100_mb        375734 non-null  float64
 14  height_500_mb        375734 non-null  float64
 15  height_850_mb        375734 non-null  float64
 16  zonal_wind_250mb     375734 non-null  float64
 17  zonal_wind_925mb     375734 non-null  float64
 18  long_wind_250mb      375734 non-null  float64
 19  long_wind_925mb      375734 non-null  float64
 20  elevation_range      375734 non-null  category
 21  region_bins          375734 non-null  object
 22  month                375734 non-null  int64
 23  season               375734 non-null  object
dtypes: category(1), datetime64[ns](1), float64(18), int64(1), object(3)
memory usage: 66.3+ MB

# splitting into TVT so conclusions reached in exploration can be immediately modeled on

In [9]:
df.shape

(375734, 24)

In [10]:
train, validate, test = w.split_data(df)

In [11]:
train.shape, validate.shape, test.shape

((244226, 24), (75147, 24), (56361, 24))

# season bins already created, so making individual dfs based on season for further exploration

In [14]:
def autumn(df):
    df = df[(df.season == 'Autumn')]
    return df

def spring(df):
    df = df[(df.season == 'Spring')]
    return df

def summer(df):
    df = df[(df.season == 'Summer')]
    return df

def winter(df):
    df = df[(df.season == 'Winter')]
    return df

In [15]:
autumn = autumn(df)
spring = spring(df)
summer = summer(df)
winter = winter(df)

In [18]:
autumn.shape, spring.shape, summer.shape, winter.shape

((93548, 24), (94576, 24), (94576, 24), (93034, 24))

### running value counts to ensure they align with original train df
### Autumn: check, Spring: check, Summer: check, Winter: check

In [24]:
df.value_counts(df.season == 'Winter')

season
False    282700
True      93034
dtype: int64

# Now that we have our data isolated by season, let's see other trends

# 1) Autumn
### Hypotheses:
- strong correlation between precipitation and temp
- region will be less signiicant than it is for the og df
- elevation and elevation range will be more significant than for the ogdf

In [ ]:
addedd